#profile{
    max-width: 170px;
    height: 170px;
    border-radius: 50%;
    object-fit: cover;
}

#progress{
    position: absolute;
    left:25%;
}

.close-button{
    position:absolute;
    right:10px;
}

.expand-button{
    position:absolute;
    right:0;
    margin-right: 20px;
    bottom:10%;
}

.dialog-content{
    padding: 20px;
    position:relative;
}
