body {
  background-color: #f0f5f3;
}

body::-webkit-scrollbar {
  width: 0.5em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: #20784a;
  outline: 1px solid slategrey;
  border-radius: 20px;
}

.container{
  margin: 90px auto 0 auto;
  max-width: 1200px;
}

a{
  text-decoration: none;
}